#doer-completed-container{
height: 90vh;
width: 100vw;
background-image:linear-gradient( #000000, grey);
display: flex;
flex-direction: column;
align-items: center;
}
#doer-completed-list{
background: #f0f0f0;
display: flex;
width: 75vw;
height: 16vh;
margin: 5px;
}
