#edit-and-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#editing-inputs{
  display: flex;
  flex-direction: column;
  padding: 3px 0 0 0;
  background: #f0f0f0;
  width: 80vw;
}
.editing-inputs{
  display: flex;
  width: 80vw;
}
.editing-input-fields{
  width: 35.9vw;
}
#finish-input{
  display: flex;
  flex-direction: column;
}
#progress-display-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 0 0 0 ;
}
#progress-display{
  /* height: 20vh; */
  background: #f0f0f0;
  width: 80vw;
}
#editing-button-container{
  display: flex;
}
#progress-button{
  width: 33.33%;
  height: 3vh;
  font-size: 70%;
  font-weight: bold;
}
@media(min-width: 450px){
  editing-inputs{
    width: 70vw;
    align-items: center;
    justify-content: center;
  }
  #progress-display-container{
    justify-content: center;
  }
  #editing-button-container{
    width: 25vw;
    height: 4vh;
    display: flex;
    justify-content: center;
  }
  #progress-button{
    height: 4vh;
    width: 8em;
  }
  #field-set{
    display: flex;
    align-items: center;
  }
  #finish-input{
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .editing-inputs{
    align-items: center;
    justify-content: center;
  }
  .editing-input-fields{
    width: 15vw;
  }
}