#forgot-password-container{
  height: 95vh;
  width: 100vw;
  background: #000000;
  color: #f0f0f0;
  /* display: flex; */
  /* align-items: center; */
  /* padding: 20vh 0 0 0; */
}
#inner-container-fp{
  height: 50vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20vh 0 0 0;
}
#forgot-password-text{
  width: 47vw;
  font-size: 150%
  /* display: flex; */
  /* align-items: center; */
}
.forgot-password-bandl{
  background: none;
  color: #f0f0f0;
  border: none;
  text-decoration: none;
}