.login {
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 100px 0 0 0; */
  background-image:linear-gradient( #000000, grey);
  color: #f0f7ee;
}
#welcome-phrase {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center
}
#input-container{
  height: 5.7vh;
  width: 69vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column
}
@media(min-width: 450px){
  #input-container{
    height: 8vh;
  }
  #welcome-phrase{
    height: 20vh;
    font-size: 150%;

  }
}
#login-button-container{
  height: 6vh;
  width: 67vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#forgot-pw-container{
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center
}
#forgot-pw-link {
  color: #f0f7ee
}
@media(min-width: 450px){
  .login{
    font-size: 115%;
  }
  #input-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #login-button-container{
    width: 100vw;
    justify-content: center;
    margin: 5vh 0 0 0;
  }
}