#message-container{
  height: 90vh;
  width: 100vw;
  background-image:linear-gradient( #000000, grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#message-display{
  height: 70vh;
  width: 80vw;
  background: #f0f0f0;
}
#message-input{
  height: 3vh;
  width: 80vw;
  border: none;
  background-image: linear-gradient(grey, lightgrey);
}
@media(min-width: 450px){
  #message-input{
    width: 70vw;
  }
}
#message-button{
  height: 3.2vh;
  width: 20vw;
  border: none;
  background: #f0f0f0
}