#signup-container{
  background-image:linear-gradient( #000000, grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  height: 90vh;
  width: 100vw;
  padding: 15vh 0 0 0;
}
.paragraphs{
  margin: 0 0 10px 0;
}
#register-buttons{
  display: flex;
  justify-content: space-between;
}
.signup-buttons{
  margin: 0 5px 0 0;
  height: 1.5vh;
  width: 4vw;
  transition: .1s
}
.signup-buttons:hover{
  background : #5d737e;
}
#signup-link{
  color: #f0f0f0
}
#bottom-buttons{
  display: flex;
  width: 50vw;
  justify-content: space-around;
  margin: 15vh 0 0 0;
}
#signup-submit-button{
  background: none;
  border: none;
  color: #f0f0f0;
  font-size: 100%
}
@media(min-width:450px){
  .signup-buttons{
    width: 1em;
    margin: 0 10px 0 2px;
  }
  #bottom-buttons{
    width: 25vw;
    margin: 10vh 0 0 0;
  }
}