#working-container{
  height: 90vh;
  width: 100vw;
  background-image:linear-gradient( #000000, grey);
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center
}
#working-list{
  margin: 5px;
  display: flex;
  flex-direction: column;
  background :#f0f0f0;
  width: 75vw;
}